apiVersion: v1
kind: Service
metadata:
  name: vehicle-management-service
  namespace: default
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: vehicle-management-service

